<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helix.datatrail.mapper.OpsHistoryMapper">
    <resultMap id="OpsHistoryMap" type="com.helix.datatrail.entity.DataTrailEntity">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="ops_time" property="opsTime" jdbcType="TIMESTAMP"/>
        <result column="ops_operation_identity" property="opsOperationIdentity" jdbcType="VARCHAR"/>
        <result column="ops_object_name" property="opsObjectName" jdbcType="VARCHAR"/>
        <result column="ops_object_id" property="opsObjectId" jdbcType="BIGINT"/>
        <result column="ops_object_content" property="opsObjectContent" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getOpsHistoryById" resultMap="OpsHistoryMap">
        select id,ops_time,ops_operation_identity,ops_object_name,ops_object_id,ops_object_content
        from t_ops_history
        WHERE
        <trim prefixOverrides="and">
            <if test="opsObjectId != null">
                and ops_object_id = #{opsObjectId}
            </if>
            <if test="opsSearchId != null">
                and ops_search_id = #{opsSearchId}
            </if>
        </trim>
        and ops_object_name = #{opsObjectName}
        and ops_time &lt;= #{opsTime}
        order by ops_time desc
    </select>

    <insert id="createOpsHistory" parameterType="com.helix.datatrail.entity.DataTrailEntity" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO t_ops_history(ops_time,ops_operation_identity,ops_object_name,ops_object_id,ops_object_content)
          values(#{opsTime},#{opsOperationIdentity},#{opsObjectName},#{opsObjectId},#{opsObjectContent})
    </insert>

</mapper>