<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helix.datatrail.mapper.user.UserMapper">
    <resultMap id="UserMap" type="com.helix.datatrail.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getUserById" resultMap="UserMap">
        select id,name,age,create_date
        from user
        WHERE
        id = #{id}
    </select>

    <insert id="createUser" parameterType="com.helix.datatrail.entity.User" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO user(name,age,create_date)
          values(#{name},#{age},#{createDate})
    </insert>

</mapper>